<section>
    <div class="baixo">
        <div class="titulo">
            <h1>Nossos Departamentos</h1>
        </div>

        <div class="produtos">

            <div class="lingeries">
                <div class="quadrado-1">
                    <img src="assets/images.jpg"
                        alt="Uma coleção de peças de lingerie delicadas, incluindo sutiãs, calcinhas e camisolas.">
                </div>
                <div class="texto">
                    <h2>Lingeries</h2>
                    <p>A lingerie vai além de uma simples peça de roupa íntima; ela representa sensualidade, conforto e
                        autoconfiança. Disponível em diversos estilos, tecidos e modelos, a lingerie pode ser delicada e
                        romântica, com rendas e detalhes sofisticados, ou ousada e moderna, com cortes estratégicos e
                        transparências.</p>
                </div>
            </div>

            <div class="roupa-feminina">
                <div class="texto">
                    <h2>Roupa Feminina</h2>
                    <p>A roupa feminina é uma expressão de estilo, personalidade e conforto. Com uma enorme diversidade
                        de peças, cores e modelagens, atende a diferentes ocasiões e preferências. Desde vestidos
                        elegantes a jeans versáteis, passando por blusas delicadas e conjuntos modernos, a moda feminina
                        evolui constantemente, refletindo tendências e influências culturais.</p>
                </div>
                <div class="quadrado-2">
                    <img src="assets/images.jpg"
                        alt="Várias peças de roupa feminina estilosa, como vestidos, jeans e blusas.">
                </div>
            </div>

            <div class="bijouteria">
                <div class="quadrado-3">
                    <img src="assets/images.jpg"
                        alt="Uma variedade de bijuterias da moda, incluindo brincos, colares e pulseiras.">
                </div>
                <div class="texto">
                    <h2>Bijouteria</h2>
                    <p>As bijuterias são acessórios versáteis que adicionam charme e personalidade a qualquer look.
                        Feitas de materiais diversos, como metal, resina, pedras sintéticas e acrílico, elas oferecem
                        opções acessíveis e estilosas para todas as ocasiões. Brincos, colares, anéis e pulseiras podem
                        transformar uma produção simples em algo sofisticado e moderno.</p>
                </div>
            </div>

        </div>
    </div>
</section>
